<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241951012501-qbku79eqhbg9cdgb7ru9l658p0g24s42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241951012501-qbku79eqhbg9cdgb7ru9l658p0g24s42</string>
	<key>API_KEY</key>
	<string>AIzaSyA-GKHl75siFvdtOFTewAS-3rTycB191Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>241951012501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carterbuckner.tstApp</string>
	<key>PROJECT_ID</key>
	<string>teachersspprtteachers</string>
	<key>STORAGE_BUCKET</key>
	<string>teachersspprtteachers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241951012501:ios:0cf23bfdc5814b73740d9c</string>
	<key>DATABASE_URL</key>
	<string>https://teachersspprtteachers-default-rtdb.firebaseio.com</string>
</dict>
</plist>